:host {
  flex: 3;
}

pre {
  background: black;
  color: white;
  padding: 1em;
  border-radius: 5px;
  font-family:monospace;
  font-size:small;
}

.mat-card-title {
  font-size: 1.2em;
  margin-bottom: 1em;
}
